
<h2 align="center">Create New Office</h2>
<div class="form-group row">
  <label class="col-sm-2 col-form-label" for="name">Company</label>
  <div class="col-sm-10">
    <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" 
    [settings]="companyDropdownSettings" 
    (onSelect)="onItemSelect($event)" 
    (onDeSelect)="OnItemDeSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Company name is required</div>
      </div>
  </div>
</div>
<form [formGroup]="officeForm" form-inline (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="name">Name</label>
    <div class="col-sm-10">
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="name" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Company name is required</div>
        </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2 col-form-div"></div>
    <div class="col-sm-10">
        <button [disabled]="loading" class="btn btn-primary">Add Office</button>
    </div>
  </div>
</form>
